/out/
/lib/
/.idea/workspace.xml
/.idea/shelf/
*.bak
*.backup
*.exe
/bitrock/*.run
# Temporal
/Games/*.temp
# Idea
.idea/
# Maven
target/
bin/
# Eclipse
.project
.classpath
.settings/
# NetBeans
nb-configuration.xml
